google-cloud-aiplatform
datasets
deepface
numpy
matplotlib
mplcursors
pandas
pinecone-client
pinecone-datasets
pinecone-text
python-dotenv
tensorflow
tiktoken
tqdm
torch
seaborn
scikit-learn
sentence-transformers
weaviate-client